body {
  background: #e2f1fa;
  font-family: mono;
}

#main_menu {
  width: 18%;
  background: #a4c6d3;
  float: left;
}

#content {
  width: 100%;
  background: #c4d6e3;
/*   height: 26ex; */
}

#head {
  text-align: center;
}

#footer {
  width: 100%;
  clear: both;
  text-align: center;
  background: #c4d6d3;
}

#lewa_kolumna {
  padding: 1%;
  background: #A4B6E4;
  width: 20%;
  float: left;
}

.caption {
  height: 2.4ex;
  width: 6em;
  float: left;
  font-weight: bold;
}

.input_box {
  display: block;
  height: 2.4ex;
  width: 11em;
}

#komunikat {
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #3476B5;
}


#logowanie_submit {
  margin-top: 1ex;
}

#prawa_kolumna {
  padding-top: 2ex;
  float:left;
  background: #c4c5e3;
  width: 78%;
}
