body {
  background: #e2f1fa;
  font-family: mono;
}

#main_menu {
  width: 18%;
  background: #a4c6d3;
  float: left;
}

#content {
  width: 100%;
  background: #c4d6e3;
  height: 20ex;
}

#head {
  text-align: center;
}

#footer {
  width: 100%;
  clear: both;
  text-align: center;
  background: #c4d6d3;
}

.caption {
  display: block;
  float: left;
  padding-left: 1em;
  width: 8em;
}

.login1 {
  display: block;
  font-weight: bold;
  padding: 8px;
}

#rejestracja {
  margin-top: 2ex;
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #3476B5;
}
