body {
  background: #e2f1fa;
  font-family: mono;
}

#main_menu {
  width: 18%;
  background: #a4c6d3;
  float: left;
}

#content {
  width: 100%;
  background: #c4d6e3;
  height: 24ex;
}

#head {
  text-align: center;
}

#footer {
  width: 100%;
  clear: both;
  text-align: center;
  background: #c4d6d3;
}

#form_login {
  padding: 1em;
/*   background: #5476E4; */
  width: 20%;
  float: left;
}

.caption {
  height: 2.4ex;
  width: 6em;
  float: left;
  font-weight: bold;
}

.input_box {
  display: block;
  height: 2.4ex;
}

.bold_font {
  font-weight: bold;
}

#rejestracja {
  text-align: center;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #3476B5;
}

.div_centered {
  text-align: center;
}

#div_input {
margin-left: 30%;
}

.to_left {
  float: left;
  padding: 10px;
}

#logowanie_submit {
  margin-top: 1ex;
}

.login_content {
}
